.message-box {
  background: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 10px;
  flex: 1;
}

.header-text {
  text-align: center
}

.back-button {
  margin: 15px;
}

.message-picture img {
  border-radius: 12px;
  height: 80px;
  width: auto;
}

.message-body {
  flex: 1;
}

.list-inline.edit_button {
  margin: 15px !important;
}

.edit-button-and-trash {
  margin-bottom: 10px;
  padding: 5px;
  flex: 1
}

.total-price {
  padding: 10px;
  flex: 1;
}

.quantity {
  padding: 5px;
  flex: 1;
}

.unit-price {

  padding: 10px;
  flex: 1;
}

.product-body {
  padding: 10px;
  flex: 1 1 200px;
  flex-wrap: wrap;
}

.message-picture {
  margin-left: 12px;
  flex: 1;
}

.unit-info {
  font-size: 12px;
  padding: 10px;
  flex: 1;
}

.unit-info #order_order_quantity {
  font-size: 12px;
  height: 25px;
  width: 35px;
}


@media (max-width:660px) {
   #content-to-hide {
      display: none;
   }
}

@media (max-width:400px) {
   #content-to-remove {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width:400px) {
   h1 {
    font-size: 33px;
  }
}

.total-amount {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.text-total-amount {
  margin-right: 40px;

}

.card-payment {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.response {
  margin-top: 15px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.stripe-button-el span {
  border: 1px solid $green !important;
  font-family: 'Quicksand', sans-serif !important;
  background: $green !important;
}

.stripe-button-el {
padding: 0px !important;
}

.cover-page {
  min-height: calc(100vh - 170px);
}

#center-items-in-row .btn-farm {
  margin-left: 41.66%
}

#hover:hover {
  opacity: 0.6 !important;
  color: #499F68;
}

//confirmation message styling
.order-confirmation-wrapper {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.order-confirmation {
  width: 60%;
  background: white;
  padding: 20px;
}

//empty basket styling
.basket-wrapper {
  display: flex;
  justify-content: center;
}

.empty-basket {
  width: 300px;
  margin: 50px auto;
  img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}

