// Specific CSS for your home-page

h2 {
  font-size: 32px;
 }
 h3 {
  font-size: 24px;
 }

 .carousel {
  height: 100vh;
  position: relative;
}

.carousel-text {
  margin-top: 250px;
  text-shadow: 1px 1px rgba(0,0,0,0.6);
}

.carousel-first,.carousel-second,.carousel-third {
  position: absolute;
  width: 100%;
  height: 100%;
}
.carousel-first {
  background: image-url("rsz_potato_farmer.jpg")  no-repeat center fixed;
      background-size: cover;
      background-position-y: 0px;
    animation:fade 24s infinite;
-webkit-animation:fade 24s infinite;
}
.carousel-second {
  background: image-url("Livestock_farmer.jpg")  no-repeat center fixed;
      background-size: cover;
      background-position-y: 0px;
    animation:fade2 24s infinite;
-webkit-animation:fade2 24s infinite;
}
.carousel-third {
    background: image-url("paprika_farmer.jpg")  no-repeat center fixed;
      background-size: cover;
    animation:fade3 24s infinite;
-webkit-animation:fade3 24s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

.mycontainer .rounded-circle {
    border-radius: 50% !important;
}

.mycontainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top:2px;
}
.mycontainer.team {background-color: #06514317;}

.mycontainer .team .col-lg-3 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.mycontainer .col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
  margin: 10px auto;
}

.mycontainer .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.mycontainer .col-xs-12, .mycontainer .col-sm-4 {
    margin-bottom:2em;
    flex: 0 0 20%;
    max-width: 20%;}

.top-ingredients {
  margin: 40px 30px;
}

.about.textbox{
  width:60%;
  padding: 10px 20px;
  margin: 15px auto;
  border: 1px solid #06514317;
  background-color:white;
  height:auto;
}

.banner {
  width:100%;
  display: flex;
  position:absolute;
  bottom: 15px;
  margin: 15px auto;
}

.onslider{
  text-align:center;
  flex: 0 1 100%;
}

.centered-img{
 align:middle;
}

.team a:visited{
  color:#77B28C;
  text-decoration:none;
}
