// Specific CSS for your home-page

.mycontainer .rounded-circle {
    border-radius: 50% !important;
}

.mycontainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.mycontainer.team {background-color: #06514317;}

.mycontainer .team .col-lg-3 {
    margin-bottom: 1.5rem;
    text-align: center;


}
.mycontainer .col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
  margin: 10px auto;
}
.mycontainer .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.carousel{
  width:100%;
  height: 75vh;
  background: image-url("carousel_ph.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #06514317;


}

.mycontainer .col-xs-12, .col-sm-4 {
    margin-bottom:2em;
    flex: 0 0 20%;
    max-width: 20%;}

.selected_ingredients {

}
.about .textbox{
  width:60%;
  padding: 10px 20px;
  margin: 15px auto;
  border: 1px solid #06514317;
  background-color:white;
  height:auto;
}
.banner {
  width:100%;
  display: flex;
  position:absolute;
  bottom: 15px;
  margin: 15px auto;
}

.onslider{

  text-align:center;
  flex: 0 1 100%;

}
.centered-img{
 align:middle;
}
