// Import page-specific CSS files here.
@import "home";

#map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}

  .thin-padding {
    padding: 5px !important;
  }

  .category-text {
   /* background-color: white; /*#4CAF50;*/
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    text: bold;
  }

  .middle {
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  text-align: center;
}

.header h1 {
  text-align: center;
}

  .filter {
    margin: 5px;/*was commented out till justcontent*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
  }
// .filter2 {
//     /*margin: 5px;/*was commented out till justcontent*/
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//    /* margin-top: 25px;*/
//   }

.fas, span, .far {
  color: $green;
}

.lettering h2 {
  color: white;
  padding: 10px;
}
.headertext{
  text-align:center;
  margin:10px 0px;
}
.outerbox{
  border-radius:15px;
  background-color: white;
  padding:10px;
  display: flex;
  width:570px;
  margin: 0px auto;
  flex-direction:column;

}

.searchbox{
  text-align: center;
  padding-top: 10px;
   }
.cat-filters{
  display:flex;
  justify-content: space-between;
  //border:1px solid green;
}
.ffilter{
  opacity: 0.5;
  padding:20px;

}

.ffilter:hover{
  opacity:1;
}
.ffilter img{height:50px;}

.form-space{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.form-size {
  width: 270px !important;
}
.less-padding{
  padding-top:0px;
  padding-bottom:0px;
}
