// Import page-specific CSS files here.
@import "home";

#map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}

  .thin-padding {
    padding: 5px !important;
  }

  .category-text {
   /* background-color: white; /*#4CAF50;*/
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    text: bold;
  }

  .middle {
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  text-align: center;
}

.header h1 {
  text-align: center;
}

  .filter {
    margin: 5px;/*was commented out till justcontent*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
  }
// .filter2 {
//     /*margin: 5px;/*was commented out till justcontent*/
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//    /* margin-top: 25px;*/
//   }

.fas, span, .far {
  color: $green;
}

.lettering h2 {
  color: white;
  padding: 10px;
}

.image-opa{
opacity: 0.8;
}
