<div class="footer">
  <div class="footer-links">
    <a href="http://github.com/mmcas/farm_dining" target="_blank"><i class="fab fa-github"></i></a>

    <a href="http://www.linkedin.com/company/farm-dining" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Farm Dining is powered by
    <a href="http://www.lewagon.nl" target="_blank">Le Wagon</a></p>
  </div>
</div>
