<%= form_tag ingredients_path, method: :get do %>
  <%= text_field_tag :query, params[:query], class: "form-control form-size", placeholder: "Find an ingredient" %>
  <label for="filter" > <!-- Filter on: --></label>
<% end %>
<%= form_tag ingredients_path, method: :get do %>
<% end %>
