<!--START SEARCH RESULT-->

<div class="container" >
    <div class="cards-container">
      <div class="row" >
        <% @ingredients.each do |ingredient| %>
          <div class="col-xs-12 col-sm-6 col-md-3" >
            <%= render 'shared/ingredient-card', ingredient: ingredient %>
          </div>
        <% end %>

      </div> <!--row-->
    </div> <!--cards-container-->
</div> <!--container-->

<!--MAP-->

<div id="map" style="width: 100%; height: 400px;" data-markers="<%= @markers.to_json %>"></div>
