<% @carousel_class = ['carousel-first', 'carousel-second', 'carousel-third'] %>
<div class="carousel ">
    <!-- slides carousel comes here -->
  <div class="onslider" style="color:white;">
    <% @carousel_class.each do |number|  %>
      <div id="carousel-gradient" class=<%= "#{number}"%> >
        <div class="carousel-text">
          <h1><strong>Farm Dining</strong></h1>
          <h2><strong>Find Ingredients at your local Farmer</strong></h2>
          <%= link_to "ORDER NOW", ingredients_path, class: "btn btn-farm-submit" %>
        </div>
      </div>
    <% end %>
  </div>
</div><!--carousel-->

<div class="container">
  <div class="top-ingredients">
   <h2>Our Top Selection</h2>
      <div class="row">
        <% Ingredient.where(rating: 5).first(4).each do |ingredient| %>
          <div class="col-xs-12 col-sm-6 col-md-3 " >
            <%= render 'shared/ingredient-card', ingredient: ingredient %>
          </div>
        <% end %>
      </div> <!--row-->
  </div>

 <!--  <div class="about">
    <div class="textbox">
              <h1>Farm Dining</h1>
          <p>There are many, mainly small, producers, a few and big traders and retailers, and many consumers. This means that the few in the middle are the ones with the bargain power. Which means they are the ones setting the food prices and get highest marginals. </p>
          <p>For the farmer it means that she has to accept the price for food offered by the reseller.
          For the end consumers, such as  restaurants managers, it means that he has to accept the price offered by the reseller. </p>
          <p>Farm Dining is the solution to bring farmers and restaurants together in a time efficient way.</p>
          <a href="#" >some link to somewhere</a>
    </div>
  </div> -->
</div>

<div class="mycontainer team">
<!-- Four columns with team avatars -->
  <h2>Meet the Farm-dining team</h2>
  <div class="row">
    <div class="col-lg-3">
      <img class="rounded-circle" src="https://avatars3.githubusercontent.com/u/31936412?s=460&v=4" alt="Generic placeholder image" width="140" height="140">
      <h3><a href="https://www.linkedin.com/in/mcasselbrant/" role="button" target="_blank">Madelene<br/>Casselbrant</a></h3>
      <p class="text-long">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. egestas eget quam. </p>
              <!-- <p><a class="btn btn-farm-submit" href="#" role="button" target="_blank">View details »</a></p> -->
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3">
      <img class="rounded-circle" src="https://avatars3.githubusercontent.com/u/31489891?s=400&v=4" alt="Generic placeholder image" width="140" height="140">
      <h3><a href="https://www.linkedin.com/in/fharmsen/" role="button" target="_blank">Floor<br/>Harmsen</a></h3>
      <p class="text-long">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem. egestas eget quam.  </p>
        <!-- <p><a class="btn btn-farm-submit" href="#" role="button" target="_blank">View details »</a></p> -->
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3">
      <img class="rounded-circle" src="https://avatars1.githubusercontent.com/u/35243620?s=400&v=4" alt="Generic placeholder image" width="140" height="140">
      <h3><a href="https://www.linkedin.com/in/mark-van-riet-560670114/" role="button" target="_blank">Mark<br/>van Riet</a></h3>
      <p class="text-long">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.egestas eget quam.  </p>
              <!-- <p><a class="btn btn-farm-submit" href="#" role="button" target="_blank">View details »</a></p> -->
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3">
      <img class="rounded-circle" src="https://avatars1.githubusercontent.com/u/35067263?s=460&v=4" alt="Generic placeholder image" width="140" height="140">
      <h3><a href="https://www.linkedin.com/in/iriscedee/" role="button" target="_blank">Iris<br/>Cedee</a></h3>
      <p class="text-long">Former picture-editor. Ready to make the next career-step as Junior FullStack Webdeveloper.</p>
        <!-- <p><a class="btn btn-farm-submit" href="https://www.linkedin.com/in/iriscedee/" role="button" target="_blank">View details »</a></p> -->
    </div><!-- /.col-lg-3 -->
  </div><!-- /.row -->
</div>

  <!--

  <h1>h1 Pages#home</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illum necessitatibus facilis commodi labore, totam alias beatae quasi, molestiae, sit magnam, aliquid. Deleniti illo tempore veritatis nulla repellat. Fuga, impedit.</p>
  <h2>Header h2</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illum necessitatibus facilis commodi labore, totam alias beatae quasi, molestiae, sit magnam, aliquid. Deleniti illo tempore veritatis nulla repellat. Fuga, impedit.</p>

  <h3>Header h3</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illum necessitatibus facilis commodi labore, totam alias beatae quasi, molestiae, sit magnam, aliquid. Deleniti illo tempore veritatis nulla repellat. Fuga, impedit.</p>

  <p>example lay out:</p>
  <p>this is a paragraph: Find me in app/views/pages/home.html.erb</p>
  <br />
  <a href="#" >some link to somewhere</a>
  <br /><br />


  <button class="btn btn-farm" type="submit">Button Link?</button>
  <button class="btn btn-farm-submit" type="submit">Button Submit</button -->

  <!--
  <p>some tests</p>

  <button class="btn btn-farm" style="background-color:#499F68;color:white;" type="submit">Button Link? (#499F68)</button>
  <button class="btn btn-farm-submit" style="background-color:#77B28C;color:white;" type="submit">Button Submit (#77B28C)</button>

  -->
