<% @carousel_class = ['carousel-first', 'carousel-second', 'carousel-third'] %>
<div class="carousel">
    <!-- slides carousel comes here -->
  <div class="onslider" style="color:white;">
    <% @carousel_class.each do |number|  %>
      <div class=<%= "#{number}"%>>
        <div>
        </div>
        <div class="carousel-text">
          <h1><strong>Farm Dining</strong></h1>
          <h2><strong>Find Ingredients at your local Farmer</strong></h2>
          <%= link_to "CHECK IT OUT!", ingredients_path, class: "btn btn-farm-submit" %>
          </div>
      </div>
    <% end %>
  </div>
</div><!--carousel-->

<div class="mycontainer selected_ingredients">
  <h2>Our Top Selection</h2>
    <div class="row">
    <!--display 5 results in one row-->
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category">rate</div>
          <div class="card-description">
            <h3>name:</h3>
            <p>price:</p>
          </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/mmcas">
            <a class="card-link" href="#" ></a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/mexico');">
          <div class="card-category">rate</div>
          <div class="card-description">
            <h3>name:</h3>
            <p>price:</p>
          </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/Fl00rtje">
          <a class="card-link" href="#" ></a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/paris');">
          <div class="card-category">rate</div>
          <div class="card-description">
            <h3>name:</h3>
            <p>price:</p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/ies33">
          <a class="card-link" href="#" ></a>
        </div>
       </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/marseille');">
            <div class="card-category">rate</div>
          <div class="card-description">
            <h3>name:</h3>
              <p>price:</p>
            </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/MarkLeWagon">
          <a class="card-link" href="#" ></a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/stockholm');">
            <div class="card-category">rate</div>
          <div class="card-description">
            <h3>name:</h3>
              <p>price:</p>
            </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/mmcas">
          <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div><!--end row-->
</div><!--container selected ingredients-->


<div class="about">
  <div class="textbox">
            <h1>Farm Dining</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illum necessitatibus facilis commodi labore, totam alias beatae quasi, molestiae, sit magnam, aliquid. Deleniti illo tempore veritatis nulla repellat. Fuga, impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illum necessitatibus facilis commodi labore, totam alias beatae quasi, molestiae, sit magnam, aliquid. </p>
        <a href="#" >some link to somewhere</a>

  </div>

</div>

<div class="mycontainer team">
        <!-- Four columns with team avatars -->
        <h2>Meet the Farm-dining team</h2>
        <div class="row">

          <div class="col-lg-3">
            <img class="rounded-circle" src="https://avatars3.githubusercontent.com/u/31936412?s=460&v=4" alt="Generic placeholder image" width="140" height="140">
            <h3>Madelene<br/>Casselbrant</h3>
            <p class="text-long">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
            <p><a class="btn btn-farm-submit" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-3 -->
          <div class="col-lg-3">
            <img class="rounded-circle" src="https://avatars3.githubusercontent.com/u/31489891?s=400&v=4" alt="Generic placeholder image" width="140" height="140">
            <h3>Floor<br/>Harmsen</h3>
            <p class="text-long">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. </p>
            <p><a class="btn btn-farm-submit" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-3 -->
          <div class="col-lg-3">
            <img class="rounded-circle" src="https://avatars1.githubusercontent.com/u/35243620?s=400&v=4" alt="Generic placeholder image" width="140" height="140">
            <h3>Mark<br/>van Riet</h3>
            <p class="text-long">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
            <p><a class="btn btn-farm-submit" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-3 -->
          <div class="col-lg-3">
            <img class="rounded-circle" src="https://avatars1.githubusercontent.com/u/35067263?s=460&v=4" alt="Generic placeholder image" width="140" height="140">
            <h3>Iris<br/>Cedee</h3>
            <p class="text-long">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
            <p><a class="btn btn-farm-submit" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
</div>

<!--

<h1>h1 Pages#home</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illum necessitatibus facilis commodi labore, totam alias beatae quasi, molestiae, sit magnam, aliquid. Deleniti illo tempore veritatis nulla repellat. Fuga, impedit.</p>
<h2>Header h2</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illum necessitatibus facilis commodi labore, totam alias beatae quasi, molestiae, sit magnam, aliquid. Deleniti illo tempore veritatis nulla repellat. Fuga, impedit.</p>

<h3>Header h3</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illum necessitatibus facilis commodi labore, totam alias beatae quasi, molestiae, sit magnam, aliquid. Deleniti illo tempore veritatis nulla repellat. Fuga, impedit.</p>

<p>example lay out:</p>
<p>this is a paragraph: Find me in app/views/pages/home.html.erb</p>
<br />
<a href="#" >some link to somewhere</a>
<br /><br />


<button class="btn btn-farm" type="submit">Button Link?</button>
<button class="btn btn-farm-submit" type="submit">Button Submit</button -->

<!--
<p>some tests</p>

<button class="btn btn-farm" style="background-color:#499F68;color:white;" type="submit">Button Link? (#499F68)</button>
<button class="btn btn-farm-submit" style="background-color:#77B28C;color:white;" type="submit">Button Submit (#77B28C)</button>

-->
