
<div class="carousel">
  <!-- slides carousel comes here -->
  <a href="https://placeholder.com"><img src="http://via.placeholder.com/350x150"></a>

</div>

<div class="container selected_ingredients">
      <h1>Top Selection</h1>
      <div class="row">
        <!--display 5 results in one row-->
        <div class="col-lg-2">
          <img src="" alt="">
            <div class="ingr_details">
              <p>display name<br /> rate<br/> price</p>

            </div>
        </div>



      </div><!--end row-->




</div><!--container selected ingredients-->







<div class="container team">
        <!-- Four columns with team avatars -->
        <h1>Meet the Farm-dining team</h1>
        <div class="row">

          <div class="col-lg-3">
            <img class="rounded-circle" src="https://avatars3.githubusercontent.com/u/31936412?s=460&v=4" alt="Generic placeholder image" width="140" height="140">
            <h3>Madelene<br/>Casselbrant</h3>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-farm-submit" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-3 -->
          <div class="col-lg-3">
            <img class="rounded-circle" src="https://avatars3.githubusercontent.com/u/31489891?s=400&v=4" alt="Generic placeholder image" width="140" height="140">
            <h3>Floor<br/>Harmsen</h3>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-farm-submit" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-3 -->
          <div class="col-lg-3">
            <img class="rounded-circle" src="https://avatars1.githubusercontent.com/u/35243620?s=400&v=4" alt="Generic placeholder image" width="140" height="140">
            <h3>Mark<br/>van Riet</h3>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa isus.</p>
            <p><a class="btn btn-farm-submit" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-3 -->
          <div class="col-lg-3">
            <img class="rounded-circle" src="https://avatars1.githubusercontent.com/u/35067263?s=460&v=4" alt="Generic placeholder image" width="140" height="140">
            <h3>Iris<br/>Cedee</h3>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa isus.</p>
            <p><a class="btn btn-farm-submit" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
</div>



<h1>h1 Pages#home</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illum necessitatibus facilis commodi labore, totam alias beatae quasi, molestiae, sit magnam, aliquid. Deleniti illo tempore veritatis nulla repellat. Fuga, impedit.</p>
<h2>Header h2</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illum necessitatibus facilis commodi labore, totam alias beatae quasi, molestiae, sit magnam, aliquid. Deleniti illo tempore veritatis nulla repellat. Fuga, impedit.</p>

<h3>Header h3</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illum necessitatibus facilis commodi labore, totam alias beatae quasi, molestiae, sit magnam, aliquid. Deleniti illo tempore veritatis nulla repellat. Fuga, impedit.</p>

<p>example lay out:</p>
<p>this is a paragraph: Find me in app/views/pages/home.html.erb</p>
<br />
<a href="#" >some link to somewhere</a>
<br /><br />


<button class="btn btn-farm" type="submit">Button Link?</button>
<button class="btn btn-farm-submit" type="submit">Button Submit</button>

<!--
<p>some tests</p>

<button class="btn btn-farm" style="background-color:#499F68;color:white;" type="submit">Button Link? (#499F68)</button>
<button class="btn btn-farm-submit" style="background-color:#77B28C;color:white;" type="submit">Button Submit (#77B28C)</button>

-->
