<h1>h1 Pages#home</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illum necessitatibus facilis commodi labore, totam alias beatae quasi, molestiae, sit magnam, aliquid. Deleniti illo tempore veritatis nulla repellat. Fuga, impedit.</p>
<h2>Header h2</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illum necessitatibus facilis commodi labore, totam alias beatae quasi, molestiae, sit magnam, aliquid. Deleniti illo tempore veritatis nulla repellat. Fuga, impedit.</p>

<h3>Header h3</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illum necessitatibus facilis commodi labore, totam alias beatae quasi, molestiae, sit magnam, aliquid. Deleniti illo tempore veritatis nulla repellat. Fuga, impedit.</p>

<p>example lay out:</p>
<p>this is a paragraph: Find me in app/views/pages/home.html.erb</p>
<br />
<a href="#" >some link to somewhere</a>
<br /><br />


<button class="btn btn-farm" type="submit">Button Link?</button>
<button class="btn btn-farm-submit" type="submit">Button Submit</button>

<!--
<p>some tests</p>

<button class="btn btn-farm" style="background-color:#499F68;color:white;" type="submit">Button Link? (#499F68)</button>
<button class="btn btn-farm-submit" style="background-color:#77B28C;color:white;" type="submit">Button Submit (#77B28C)</button>

-->
