
// Ingredients card used on the ingredient show page
.card-show {
  margin-top: 125px;
  margin-left: 115px;
  position: relative;
  height: 350px;
  width: 450px;
}

.card-show-scnd {
  margin-top: 125px;
  margin-left: 250px;
  position: relative;
  padding-top: 25px;
}

.card-show-text{
  padding-top: 5px;
  padding-bottom: 10px;
  max-height: 62vw;
}

#card-show-first-button {
  margin-top: 5px;
  float: left;
  margin-right: 15px;
}

#card-show-scnd-button {
  margin-top: 5px;
}

//  card used for ingredient main category for now
.category-card {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 5px;
    padding: auto;
    background-size: cover;
    img {
      height: 100%;
      width: 100%;
      overflow:hidden;
      opacity: 1;
      display: block;
      transition: .5s ease;
      &:hover {
        opacity: 0.4;
      }
    }
  }

.category-card:hover .middle {
  opacity: 1;
}

//====================================

// Ingredient card styling

.cards-container {
  margin: 50px auto;
}
.ingredient-card {
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.ingredient-card-image {
  height: 175px;
  width: 100%;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.ingredient-card-text {
  padding-left: 10px;
}

.form-group.select.optional.order_order_quantity {
  width: 45px;
  float: left;
}

.form-control.select.optional{
  font-size: 16px;
  height: 30px;
  border-radius: 10px;
}
.add-to-basket {
  display: flex;
  line-height: 80%;
  p {
    margin-right: 8%;
    font-size: 16px;
  }
}

.fa-plus{
  margin-left: 5px;
  margin-top: 6px;
  color:#555555;
}



//====================================

//  card previously used for ingredient index page

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

/*display of search   */
.category-card{
  padding: 10px;
}
.category-card img{
  opacity: 0.7 !important;
}

.category-card img:hover{
  opacity: 1 !important;
}

