.footer {
  background: #F4F4F4; /* FFFFFF*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  border-top: 1px solid #77B28C;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.40;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer a{
   color: #77B28C;
}
.footer a:hover {
  opacity: 1;
   color: #499F68;
}
.footer a:visited{
  color: #77B28C;
}
.footer .fa-github, .fa-linkedin {
  color: #77B28C;
}
