.banner-farm {
  color: white;
  text-align: center;
  height: 400px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 40px;
}
.banner-farm h1 {
  font-weight: bold;
}

.welcomebox{
  display: flex;
  width:1140px;
  margin: 0px auto;
  justify-content: space-between;
}

#farm-description {
  float: none;
  width:70%;
  height: 300px;
}
#farmer-picture {
  width:300px;
  height:300px;
  align:right;
}

.farm-description{
  background-color: white;
  padding: 10px;
  //margin-bottom: 20px;
  height:300px;
  //height: 250px;
  // width: 550px;
}
.farmer-picture{
  float: right;
}
.farm-details{
  position:relative;
  bottom:-15px;
}

.farm-description p {
  opacity: 0.8;
  margin-bottom: 40px;
}
.farm-description h3{
  margin-top:4px;
  padding:0px 5px;
}

.rounded-corners{
  border-radius: 40px;
}
.fa-home, .fa-at {
    color: #77B28C;
}

.align-center {
  margin: 5px auto;
  width:100%;
}




